@import "stylesheet/_mixin.scss";

.section {
  padding-top: 20px;
  background-color: var(--secondary-bg-cl);
  padding-bottom: 32px;

  @include mq(tablet) {
    padding-top: 28px;
    padding-bottom: 53px;
  }
}

.container {
  @include mq(desktop) {
    display: grid;
    grid-template-columns: 928px 1fr;
    column-gap: 32px;
    row-gap: 23px;
    justify-content: space-between;
  }
}

.timers {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mq(tablet) {
    margin-bottom: 36px;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }

  @include mq(desktop) {
    gap: 74px;
    margin-bottom: 21px;
  }
}

.goal {
  @include mq(tablet) {
    grid-column: 2/3;
  }

  @include mq(desktop) {
    grid-row: 1/2;
    height: 304px;
  }
}

.activeGoal {
  composes: goal;

  @include mq(desktop) {
    margin-top: 12px;
    height: unset;
    grid-row: 1/3;
  }
}

.book {
  @include mq(tablet) {
    max-height: 227px;
    overflow-y: scroll;
  }

  @include mq(desktop) {
    max-height: 213px;
  }
}

.chart {
  margin-top: 33px;

  @include mq(tablet) {
    margin-top: 40px;
  }

  @include mq(desktop) {
    margin-top: 17px;
    grid-column: 1/2;
  }
}

.addPages {
  margin-top: 32px;

  @include mq(tablet) {
    margin-top: 40px;
  }

  @include mq(desktop) {
    margin-top: 17px;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.addTraining {
  @include mq(tablet) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.back {
  margin-bottom: 32px;
}

.bookListWrapper {
  margin-top: 32px;
}

.button {
  padding: 13px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}