.section {
    padding-top: 20px;
    background-color: var(--secondary-bg-cl);
}

.back {
    margin-bottom: 32px;
}

.books {
    margin-top: 32px;
}

.button {
    padding: 13px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}