.btn {
  background-color: transparent;
  border: none;
}

.star {
  width: 17px;
  height: 17px;
  margin-right: 4px;
  &.active {
    stroke: var(--accent-cl);
  }
  &.inactive {
    stroke: var(--placeholder-cl);
  }
}
