@import "src/stylesheet/mixin";

.form {
  padding: 20px 20px 40px 20px;
  div:first-of-type {
    gap: 20px;
  }
  div:nth-of-type(2) {
    gap: 8px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  line-height: 1.22;
  font-weight: 500;
}

.resume {
  padding: 8px;
  height: 170px;
  white-space: pre-wrap;
  border: 1px solid var(--placeholder-cl);
  resize: none;
}

.btnGroup {
  display: flex;
  justify-content: center;
  gap: 16px;
  & button {
    min-width: 100px;
  }
}

@include mq(mobile) {
  .btnGroup {
    gap: 28px;
  }
}

@include mq(tablet) {
  .form {
    div:first-of-type {
      gap: 12px;
    }
    div:nth-of-type(2) {
      gap: 12px;
      margin-bottom: 28px;
    }
  }
}

.backBtn {
  color: var(--main-text-cl);
  background-color: var(--primary-white-cl);
  border-color: var(--main-text-cl);
}

.saveBtn {
  color: var(--primary-white-cl);
  background-color: var(--btn-cl);
  border-color: transparent;
}
