@import "stylesheet/_mixin.scss";

.title {
    margin-bottom: 20px;

    @include mq(tablet-only) {
        margin-top: 40px;
    }
}

.form {
    display: grid;
    gap: 20px;

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    @include mq(desktop) {
        justify-content: center;
        gap: 32px;
    }
}

.wrapper {
    @include mq(tablet) {
        width: 250px;
    }
}

.date {
    padding-left: 41px;
    height: 42px;
    width: 100%;
}

.select {
    box-shadow: inset 0px 1px 2px rgba(29, 29, 27, 0.15);

    @include mq(tablet) {
        width: 483px;
        height: 42px;
        margin-right: 10px;
    }

    @include mq(desktop) {
        width: 715px;
    }
}

.button {
    padding: 13px;
    margin-left: auto;
    margin-right: auto;
}

.bookButton {
    composes: button;
    margin-top: 12px;
    max-width: 141px;
    color: var(--main-text-cl);
    background-color: var(--secondary-bg-cl);
    transition: color 250ms linear, background-color 250ms linear, scale 250ms linear, box-shadow 250ms linear;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
        color: var(--main-bg-cl);
        background-color: var(--btn-cl);
    }

    @include mq(tablet) {
        margin: 0;
        min-width: 171px;
        height: 42px;
    }
}