@import "stylesheet/shared.scss";
.books{
   &Wrapper{
      padding-top: 40px;
   }
   &Title {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 19px;
      line-height: 1.2;
      margin-bottom: 24px;
   }
}
.read{
   &Item{
      padding: 0px 20px;
      height: 62px;
      background-color: var(--main-bg-cl);
      display: flex;
      align-items: center;
      margin-bottom: 8px;
   }
   &Book{
      &List{
         display: flex;
         align-items: center;
      }
      &Item{
         font-family: 'Montserrat';
         font-weight: 500;
         font-size: 14px;
         line-height: 1.2;
         color: var(--main-text-cl);
         &:nth-child(1){
            display: flex;
            width: 197px;
            & span {
               text-overflow: ellipsis;
               overflow: hidden;
               white-space: nowrap;
            }
         }
         &:nth-child(2){
            width: 266px;
            margin-left: 144px;
         }
         &:nth-child(3){
            width: 117px;
         }
         &:nth-child(4){
            width: 133px;
         }
         &:nth-child(5){
            width: 161px;
         }
      }
      &Img{
         margin-right: 18px;
      }
      &Button{
         padding: 11px 35px 12px 36px;
         font-family: 'Montserrat';
         font-weight: 500;
         font-size: 14px;
         line-height: 1.2;
         color: var(--main-bg-cl);
         background: var(--library-btn-cl);
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
         cursor: pointer;
      }
   }
}