@import "stylesheet/mixin.scss";
.titleList {
  display: none;
  @include mq(tablet) {
    display: flex;
    margin-bottom: 8px;
  }
  &Item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--secondary-text-cl);
    &:nth-child(1) {
      @include mq(tablet) {
        width: 360px;
      }
      @include mq(desktop) {
        width: 600px;
      }
    }
    &:nth-child(2) {
      @include mq(tablet) {
        width: 220px;
      }
      @include mq(desktop) {
        width: 390px;
      }
    }
    &:nth-child(3) {
      @include mq(tablet) {
        width: 60px;
      }
      @include mq(desktop) {
        width: 110px;
      }
    }
  }
}
